### Arquivos de ajuda ###
HELP.md

### Compilação ###
target/
build/

# Permitir que pastas build/ e target/ dentro de src sejam versionadas
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
# Ignorar apenas o binário wrapper, manter scripts e configs
.mvn/wrapper/maven-wrapper.jar

### Spring Tool Suite (STS) ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# Ignorar cache do IntelliJ
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/

# Ignorar dados de build do IntelliJ
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/assetWizardSettings.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Sistema Operacional ###
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
